<div class="container">
{{outlet}}
</div>


<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">ember-dragula</h2>
		</div>
		<div class="panel-body">
{{#ember-dragula config=model.dragulaoptions dragulaEvent='dragulaEvent' }}
	{{#ember-dragula-container }}
		{{#tree-component data='We ll move these items'}}
		{{/tree-component}}
		<div>
			We ll move these items
		</div>
		<div>
			To test if everything is fine.
		</div>
		<div>
			We ll move these items
		</div>
		<div>
			To test if everything is fine.
		</div>
	{{/ember-dragula-container}}
	{{#ember-dragula-container created='created' parent=model.parent}}
		<div>
			We ll move these items
		</div>
		<div>
			To test if everything is fine.
		</div>
		<div>
			We ll move these items
		</div>
		<div>
			To test if everything is fine.
		</div>
	{{/ember-dragula-container}}
{{/ember-dragula}}
		</div><!-- panel-body -->
	</div><!-- panel -->
</div><!-- row -->